.headline {
	background-color: black;
	color: white;
	text-align: center;
}/*

img {
	float: left;
	padding-right: 15px;
}

.mainbio {
	width: 60%;
	padding: 25px;
}

.contact {
	float: right;
	width: 30%;
}*/